<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:include="inc/top_nav.inc::top_nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Menu</h1>
            <div th:include="inc/left_menu.inc::left_menu" class="list-group"></div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row my-4">
                <div class="col-lg-6">
                    <img th:src="${sitter.user.photo}" alt="" width="350" />
                </div>

                <div class="col-lg-6">
                    <div>
                        <strong>ФИО:</strong>
                        <span th:text="@{${sitter.user.name}}"></span>
                    </div>
                    <div>
                        <strong>Возраст:</strong>
                        <span th:text="${age}"></span>
                    </div>
                    <div>
                        <strong>Город:</strong>
                        <span th:text="${sitter.city}"></span>
                    </div>
                    <div>
                        <strong>About:</strong>
                        <span th:text="${sitter.about}"></span>
                    </div>
                    <div>
                        <strong>Образование:</strong>
                        <span th:text="${sitter.edu}"></span>
                    </div>
                    <div>
                        <strong>Сертификаты:</strong>
                        <span th:text="${sitter.certificates}"></span>
                    </div>
                    <div>
                        <strong>Знание языков:</strong>
                        <span th:text="${sitter.lang}"></span>
                    </div>
                    <div>
                        <strong>Курение:</strong>
                        <span th:text="${sitter.smoke} ? 'Да' : 'Нет'"></span>
                    </div>
                    <div>
                        <strong>Категории детей:</strong>
                        <ul th:each="item : ${sitter.childCategories}">
                            <li th:text="${item.name}"></li>
                        </ul>
                    </div>
                    <div>
                        <input type="button" value="Показать телефон" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<div th:include="inc/js.inc::js"></div>

</body>

</html>