<div th:fragment="js">
    <script src="/static/default/vendor/jquery/jquery.min.js"></script>
    <script src="/static/default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/default/vendor/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

    <script src="/static/default/js/custom.js"></script>
</div>