<nav th:fragment="top_nav">
    <div class="container">
        <a class="navbar-brand" href="#">Няни для детей</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" />
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная
                        <!--<span class="sr-only">(current)</span>-->
                    </a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Services</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/cabinet/">Кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Авторизация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>