<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:include="inc/top_nav.inc::top_nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Menu</h1>
            <div th:include="inc/left_menu.inc::left_menu" class="list-group"></div>
            <div>
                <form action="/search/" method="get">
                    Город: <input type="text" name="city" th:value="${param.city}" />

                    <br />

                    <select name="gender" class="form-control" id="gender">
                        <option value="">--Выбрать пол--</option>
                        <option value="1" th:selected="${#strings.equals(param.gender, '1')}">Мужской</option>
                        <option value="0" th:selected="${#strings.equals(param.gender, '0')}">Женский</option>
                    </select>

                    <br />

                    Возраст от: <input type="text" name="fromAge" th:value="${param.fromAge}" />
                    до: <input type="text" name="toAge" th:value="${param.toAge}" />

                    <br />

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Категории детей</label>
                        <div th:each="item : ${allChildCategories}">
                            <input name="childCategories[]" type="checkbox" th:value="${item.id}" th:id="${{item}}" th:checked="${#lists.contains(selectedChildCategories, item.id)}" />
                            <label th:for="${{item}}" th:text="${item.name}"></label>
                        </div>
                    </div>

                    <input type="submit" />
                </form>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row my-4">

                <div class="col-lg-4 col-md-6 mb-4" th:each="item : ${sitterQuestionnaires}">
                    <div class="card h-100">
                        <a th:href="@{'/users/' + *{item.user.id} + '/'}"><img class="card-img-top" th:src="*{item.user.photo}" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{'/users/' + *{item.user.id} + '/'}" th:text="*{item.user.name}"></a>
                            </h4>
                            <h5><span th:text="*{item.city}"></span></h5>
                            <p class="card-text"><span th:text="*{item.birthday}"></span></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

            <div class="row my-4">
                <a th:href="@{'/search/?'+${prevPage}}" th:if="${prevPage != null}">Prev</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/search/?'+${nextPage}}" th:if="${nextPage != null}">Next</a>
            </div>
            <!-- /.row -->


        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<div th:include="inc/js.inc::js"></div>

</body>

</html>