<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:include="inc/top_nav.inc::top_nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Личный кабинет</h1>
            <div th:include="cabinet/inc/left_menu.inc::left_menu" class="list-group"></div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row my-4">

                <form th:object="${sitterQuestionnaire}" th:action="@{'/cabinet/sitter/questionnaire/'}" method="post" class="form-horizontal form-label-left">
                    <input type="hidden" th:field="*{id}" />

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Активность анкеты</label>
                        <select th:field="*{isActive}" class="form-control">
                            <!-- if -->
                            <div th:if="*{isActive}">
                                <option th:value="true" selected="selected">Да</option>
                                <option th:value="false">Нет</option>
                            </div>
                            <!-- else -->
                            <div th:unless="*{isActive}">
                                <option th:value="true">Да</option>
                                <option th:value="false" selected="selected">Нет</option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="gender">Пол</label>
                        <select th:field="*{gender}" class="form-control" id="gender">
                            <!-- if -->
                            <div th:if="@{*{gender} == 1}">
                                <option th:value="1" selected="selected">Мужской</option>
                                <option th:value="0">Женский</option>
                            </div>
                            <!-- else -->
                            <div th:unless="*{gender}">
                                <option th:value="1">Мужской</option>
                                <option th:value="0" selected="selected">Женский</option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="name">Дата рождения</label>
                        <div>
                            <input th:field="*{birthday}" type="text" id="name" data-inputmask="'mask': '99.99.9999'" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Общее описание</label>
                        <div>
                            <textarea th:field="*{about}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="city">Город</label>
                        <div>
                            <input th:field="*{city}" type="text" id="city" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" for="around">Радиус оказания услуг (км)</label>
                        <div>
                            <input th:field="*{around}" type="text" id="around" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Предпочитаемые категории детей для работы</label>
                        <div th:each="item : ${allChildCategories}">
                            <input type="checkbox" th:id="${{item}}" th:value="${{item}}" th:field="*{childCategories}" />
                            <label th:for="${{item}}" th:text="${item.name}"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-3">
                            <input value="Сохранить" class="btn btn-primary" type="submit" />
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<div th:include="inc/js.inc::js"></div>


</body>

</html>