<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<nav th:include="inc/top_nav.inc::top_nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Настройка кабинета</h1>
            <div th:include="cabinet/inc/left_menu.inc::left_menu" class="list-group"></div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row my-4">

                <form th:object="${userConfig}" th:action="@{'/cabinet/config/'}" method="post" class="form-horizontal form-label-left">
                    <input type="hidden" th:field="*{id}" />

                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">Тип аккаунта</label>
                        <div th:each="item : ${accountTypes}">
                            <input type="radio" th:id="${{item}}" th:value="${{item}}" th:field="*{accountType}" />
                            <label th:for="${{item}}" th:text="${item.name}"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-3">
                            <input value="Сохранить" class="btn btn-primary" type="submit" />
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<div th:include="inc/js.inc::js"></div>


</body>

</html>