<div th:fragment="left_menu">
    <a href="/cabinet/profile/" class="list-group-item">Профиль</a>
    <a href="/cabinet/sitter/questionnaire/" class="list-group-item">Анкета бебиситтера</a>
    <a href="/cabinet/config/" class="list-group-item">Настройка кабинета</a>
</div>